@import "tailwindcss";


:root {
  --background: #FFFAFA;
  --foreground: #0c0c0c;
  --secondary: #EEE6D9;
}

/* Global styles */


.mt{
  margin-top: 70px;
}

.mb{
  margin-bottom: 10px;
}

.ml{
  margin-left: 10px;
}

.mr{
  margin-right: 10px;
}


.pt{
  padding-top: 10px;
}

.pb{
  padding-bottom: 10px;
}

.pl{
  padding-left: 10px;
}

.pr{
  padding-right: 10px;
}

.outfit{
  font-family: 'Outfit';
}
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Poppins';
}